body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Define a cor de fundo */
  background-color: #ffffff; /* Substitua pela cor desejada */
  /* Caso queira adicionar mais estilos, como cor do texto sobre a cor de fundo */
  color: white; /* Substitua pela cor do texto desejada */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
